---
import styles from './Loader.module.css'
---

<section class={styles.loader}>
    <div class={styles.loaderText}>
        <span class={styles.greeting}>Hi, I'm</span>
        <h2 class={styles.name}>
            Adarsha Acharya
        </h2>
        <div class={styles.loaderBall}></div>
    </div>
</section>

<script src="./Loader.ts"></script>
