---
import styles from './Loader.module.css'
---

<section class={styles.loader}>
    <div class={styles.loaderText}>
        <div class={styles.greeting}>Hi, I'm</div>
        <h1 class={styles.name}>
            Adarsha Acharya
        </h1>
        <div class={styles.loaderBall}></div>
    </div>
</section>

<script src="./Loader.ts"></script>
