---
import styles from "./Hero.module.css";
---
<main class={styles.heroContainer}>
    <div class={styles.heroDecorCircle}>
        <div class={styles.monocleContainer}>
            <div class={styles.monocleDecor}></div>
            <div class={styles.monocleDecor}></div>
        </div>
        <div class={styles.monocle}/>
    </div>
    <h1 class:list={[styles.heroIntro]} data-scroll data-scroll-dir="top" data-scroll-speed="2">
        <div class={styles.heroDesc}>Software engineer — Kathmandu, Nepal.</div>
        Your next engineer runs on <span id="slot-word" class={styles.slotWord}>Rust.</span>
    </h1>
</main>

<script src="./Hero.ts"></script>
