---
import styles from "./Breadcrumbs.module.css"
---

<div class={styles.breadcrumbs}>
    <span class={styles.breadcrumb_dot}></span>
    <span class={styles.breadcrumb_hand}></span>
    <div class={styles.labels}>
        <span class={styles.label}>I</span>
        <span class={styles.label}>II</span>
        <span class={styles.label}>III</span>
        <span class={styles.label}>IV</span>
        <span class={styles.label}>V</span>
        <div  class={styles.dividers}> </div>
    </div>
</div>

<script src="./Breadcrumbs.ts"></script>
