---
import styles from './Nav.module.css'
---

<header class={styles.header}>
    <nav class={styles.nav}>
        <a class={styles.navLogo}>
            ɅV
            <div class={styles.navLogoHover} data-cursor-type="pointer">
                ɅV
            </div>
        </a>
    </nav>
</header>

<menu class:list={[styles.navMenu, styles.navMenuClosed]}>
    <a class={styles.navMenuLink} data-theme-name="classic">Classic</a>
    <a class={styles.navMenuLink} data-theme-name="synthwave">Synthwave</a>
</menu>


<script src="./Nav.ts"></script>
